  :root {
    --main-black: #1C1C1A;
    --main-white: #E9E3E6;
    --main-blue: #0E34A0;
    --main-hover: #444;
  }
  
  * {
    margin: 0;
    padding: 0;
    
  }
  
  img{
    height: 1px;
  }

  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
    
  }
  
  
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  /* Base styles */
  body {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }

  
  
  .parallax {
    /* The image used */
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)),
    url('images/ReqTechBackground.jpg');   
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-device-width: 768px) {
    .parallax {
      background-attachment: scroll;
    }
  }

  html{
    scroll-behavior: smooth;
  }
  
  body, html{
    font-size: 100%;
    font-family: sans-serif;
  }
  
  body,html{
    margin:0;
    padding: 0;
  }
  
  h1{
    color: var(--main-white);
  }
    
  /* nav */
  nav ul{
    list-style: none;
    background:var(--main-black);
    font-weight: bolder;
  }

  nav ul li a{
    color:var(--main-white);
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height: 1;
    font-size: 100%;
  }

  nav ul li a:hover{
    background-color: var(--main-hover);
  }

  nav ul li{
    border-bottom: 1px dotted #ddd;
  }

  /*styling logo*/
  nav div:first-child{
    background: var(--main-black);
  }

  nav div:first-child h1{
    line-height: 0;
    padding: .8rem 0rem;
    text-align: center;
  }


  nav div:first-child h1, nav ul{
    margin:0;
  }

  /*Styling for larger devices*/
  @media only screen and (min-width: 28.0em){
    nav{
      display: flex;
      justify-content: space-between;
      background: var(--main-black);
      align-items: center;
      top: 0px;
      width: 100%;
      
    }
  
    nav ul{
      display: flex;
      align-items: center;
      background:none;
      flex-wrap: wrap;
    }

    nav div:first-child h1{
      padding: 0;
      margin:0 1rem;
    }

    nav div:first-child img{
      height: 40px;
    }

    nav ul li{
      border-bottom:none;
      flex: 1 0 auto;
      position: relative;
    }

    nav ul li a{
      padding:1.2rem 1rem;
    }
    
    nav ul li a::before, nav ul li a::after{
      content: "";
      position: absolute;
      bottom:0;
      right: 0;
      width:0%;
      height: 2px;
      background:var(--main-white);
      transition: .2s width ease-in-out;
    }
  
    nav ul li a::before{
      left:0;
    }
  
    nav ul li a:hover::after,nav ul li a:hover::before{
      width: 50%;
    } 
 
  }
  
  
  .hero {
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .hero img{
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dbe4ed;
    background-size: cover;
    margin: 15%;
    border-radius: 10px;
    background: linear-gradient(45deg, #f0f0f0, #cacaca);
    box-shadow:  30px -30px 60px #bebebe,
             -30px 30px 60px #ffffff;
    
  }
  
  .hero h1 {
    color: #fff;
    font-size: 4em;
    text-shadow: 2px 2px #333;
    
  }
  
  .hero p{
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 2px #333;
    margin-bottom: 30px;
  }

  
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  
}

.child:first-child {
  margin-bottom: 20px; /* Add spacing between the first child div and the second child div */
}

.container h2{
  color: var(--main-white);
}

.column1 {
  flex-basis: 80%;
  padding: 20px;
  background-color: #f0f0f0;
}

.column1 img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}



.column1 p{
  border-radius: 30px;
  margin-bottom: 20px;
}


.column2 {
  flex-basis: 20%;
  padding: 20px;
  background-color: #d9d9d9;
  
}

.column2 iframe {
  width: 340px;
  height: 500px;
  border: none;
  overflow: hidden;
  margin: 0 auto; /* center the iframe horizontally */
  border-radius: 10px;
  
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .column2 {
    text-align: center;
  }

  .column2 iframe {
    margin: 20px auto; /* center the iframe vertically and horizontally */
  }
}

/* Review Section */
.customer-reviews {
  margin: 50px auto;
  max-width: 1200px;
  text-align: center;
}

.customer-reviews h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--main-white);
}

.carousel-container {
  position: relative;
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
}

.carousel-container::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border-radius: 20px;
  border: 2px solid #fff;
  z-index: -1;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}

.review {
  flex: 0 0 100%;
  padding: 0 10px;
  text-align: center;
}

.author {
  font-style: italic;
}

.prev-btn,
.next-btn {
  background-color: transparent;
  border: none;
  color: var(--main-white);
  font-size: 32px;
  margin: 0;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.2s ease-in-out;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--main-hover);
  cursor: pointer;
}

.review-cta {
  text-align: center;
}

.review-cta p {
  margin: 0;
}

.review-cta a {
  color: var(--main-white);
}

.review-cta a:hover {
  color: var(--main-hover);
}

/* Media queries for responsive design */
@media screen and (min-width: 576px) {
  .carousel-container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .carousel-container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .carousel-container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 576px) {
  .review {
    font-size: 14px;
  }
}

@media screen and (max-width: 414px) {
  .review {
    font-size: 12px;
  }
}



/* Contact INFO*/
.contact-info {
  padding: 50px;
  text-align: center;
  margin:  10% auto;
  width: 80%;
  border-radius: 10%;
  border-radius: 50px;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-info a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}


/* Contact section styles */
.contact {
  background-color: #f5f5f5;
  padding: 50px;
  text-align: center;
  color: black;
  border-radius: 10%;
  margin: auto;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.contact label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact input,
.contact textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact textarea {
  height: 150px;
}

.contact button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #444;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

/* Extras */
.border {
	appearance: none;
	padding: 1em 2em;
	color: white;
	outline: none;
	border-radius: 30px;
	border: 2px solid transparent var(--main-white);
  background: var(--main-black);
}





