:root {
  --main-white: #e0D8DE; 
  --main-grey: #222;
  --main-blue: #06114b;
  --main-hover: #265a99 ;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html{
  scroll-behavior: smooth;
}

body, html{
  font-size: 100%;
  font-family: sans-serif;
}

body,html{
  margin:0;
  padding: 0;
}

h1{
  color: var(--main-white);
}

nav ul{
  list-style: none;
  padding:0;
  background:#444;
}

nav ul li a{
  color:#ddd;
  text-decoration: none;
  padding: .8rem 1rem;
  display: block;
  line-height: 1;
}
nav ul li{
  border-bottom: 1px dotted #ddd;
}

/*styling logo*/
nav div:first-child{
  background: var(--main-grey);
  
}
nav div:first-child h1{
  line-height: 0;
  padding: .8rem 0rem;
  text-align: center;
}


nav div:first-child h1, nav ul{
  margin:0;
}

/*Styling for larger devices*/

@media only screen and (min-width: 30em){
  nav{
      display: flex;
      justify-content: space-between;
      background: var(--main-grey);
      align-items: center;
  }
  
  nav ul{
      display: flex;
      align-items: center;
      background:none;
      flex-wrap: wrap;
  }
  nav div:first-child h1{
      padding: 0;
      margin:0 1rem;
  }
  nav div:first-child img{
      height: 40px;
      
  }
  nav ul li{
      border-bottom:none;
      flex: 1 0 auto;
      position: relative;
  }
  nav ul li a{
      padding:1.2rem 1rem;
  }
  nav ul li a::before, nav ul li a::after{
      content: "";
      position: absolute;
      bottom:0;
      right: 0;
      width:0%;
      height: 2px;
      background:var(--main-hover);
      transition: .2s width ease-in-out;
  }
  
  nav ul li a::before{
      left:0;
  }
  
  nav ul li a:hover::after,nav ul li a:hover::before{
      width: 50%;
  } 
 
  }

/*Welcome Section */
.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)),
   url('https://raw.githubusercontent.com/SebastianKlemkosky/ReqTech-Website/main/images/ReqTechBackground.jpg?token=GHSAT0AAAAAAB6BKKO67B73LZYGQL4WRJGMY7EHRKA'); 
  background-size: cover;
  height: 500px;
  color: #fff;
}

.welcome-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #dbe4ed;
  background-size: cover;
  

}


/*About Section */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}


.about-container {
  display: flex;
}

.about-child {
  flex: 1;
  border: 2px solid black;
}  

.about-child:first-child {
  margin-right: 20px;
} 

/*Contact Section */
.contact-section-container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
 
}
.contact-section-container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-section-container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: var(--main-hover);
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.contact-section-container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: var(--main-grey);
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: var(--main-blue);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: var(--main-hover);
}

@media (max-width: 950px) {
  .contact-section-container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .contact-section-container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .contact-section-container{
    margin: 40px 0;
    height: 100%;
  }
  .contact-section-container .content{
    flex-direction: column-reverse;
  }
 .contact-section-container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .contact-section-container .content .left-side::before{
   display: none;
 }
 .contact-section-container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
/*Footer*/
